[submodule "humannoid/FiveAges_W1"]
	path = humannoid/FiveAges_W1
	url = git@github.com:fiveages-sim/fa-w1-usds.git
	branch = main
[submodule "humannoid/FiveAges_W2"]
	path = humannoid/FiveAges_W2
	url = git@github.com:fiveages-sim/fa-w2-usds.git
	branch = main
