[submodule "humanoid/FiveAges"]
	path = humanoid/FiveAges
	url = git@github.com:fiveages-sim/fiveages-robot-usds.git
	branch = main
[submodule "humanoid/FiveAges_W1"]
	path = humanoid/FiveAges_W1
	url = git@github.com:fiveages-sim/fa-w1-usds.git
	branch = main
[submodule "humanoid/FiveAges_W2"]
	path = humanoid/FiveAges_W2
	url = git@github.com:fiveages-sim/fa-w2-usds.git
	branch = main
[submodule "humanoid/Agibot_G2"]
	path = humanoid/Agibot_G2
	url = git@github.com:fiveages-sim/agibot-g2-usds.git
[submodule "manipulators/Marvin"]
	path = manipulators/Marvin
	url = git@github.com:fiveages-sim/marvin-usds.git
	branch = main
[submodule "humanoid/Ubtech"]
	path = humanoid/Ubtech
	url = git@github.com:fiveages-sim/ubtech-usds.git
	branch = main
[submodule "humanoid/Galbot"]
	path = humanoid/Galbot
	url = git@github.com:fiveages-sim/galbot-usds.git
	branch = main
