[submodule "humanoid/FiveAges/Gen2"]
	path = humanoid/FiveAges/Gen2
	url = git@github.com:fiveages-sim/fiveages-gen2-robot-usds.git
	branch = main
[submodule "humanoid/FiveAges_W1"]
	path = humanoid/FiveAges_W1
	url = git@github.com:fiveages-sim/fa-w1-usds.git
	branch = main
[submodule "humanoid/Agibot_G2"]
	path = humanoid/Agibot_G2
	url = git@github.com:fiveages-sim/agibot-g2-usds.git
[submodule "humanoid/Ubtech"]
	path = humanoid/Ubtech
	url = git@github.com:fiveages-sim/ubtech-usds.git
	branch = main
[submodule "humanoid/Galbot"]
	path = humanoid/Galbot
	url = git@github.com:fiveages-sim/galbot-usds.git
	branch = main
[submodule "humanoid/FiveAges_Gen3"]
	path = humanoid/FiveAges/Gen3
	url = git@github.com:fiveages-sim/fiveages-gen3-robot-usds.git
	branch = main
